* {
    box-sizing: border-box;
}

body {
    min-height: 5000px;
    margin: 0;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}
.scroller {
    width: 0;
    height: 5px;
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;

}