*{
    box-sizing: border-box;
}
body {
    font-family: 'Courier New', Courier, monospace;
}
root {
    --draw-color: #222
    --draw-width: 4px
}
.container {
    margin: 20px auto;
    width: 1000px;

}
.hr {
    border: 1px solid black;

}
.row {
    display: flex;
}
.game-info{
    display: flex;
}
.game-info .game-name {
flex: 1;
}
.game-info .category {
flex: 1;
text-align: right;
}
.game-info .category span {
text-transform: capitalize;
color: #E91E63;
font-weight: bold 
}
.hangman-draw {
    background-color: #F8F8F8;
    height: 324px;
    padding: 20px;
    flex: 1;

}
.hangman-draw .the-draw {
width: 60px;
height: 280px;
border-bottom: 4px solid #222;
position: relative;
/* to center it */
margin: auto;
display: none;
}
.hangman-draw.wrong-1 .the-draw {
    display: block;
}
.hangman-draw.wrong-2 .stand {
    display: block;
}
.hangman-draw.wrong-3 .the-hang {
    display: block;
}
.hangman-draw.wrong-4 .rope {
    display: block;
}
.hangman-draw.wrong-5 .man .head {
    display: block;
}
.hangman-draw.wrong-6 .man .body {
    display: block;
}
.hangman-draw.wrong-7 .man .arms {
    display: block;
}
.hangman-draw.wrong-8 .man .legs {
    display: block;
}

.hangman-draw .stand{
    display: none; 
}
.hangman-draw .stand::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 100%;
    left: 50%;
    margin-left: -2px;
    background-color: #222;
}
.hangman-draw .the-hang{
    display: none; 
}
.hangman-draw .the-hang::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 4px;
    left: 32px;
    top: 20px;
    background-color: #222;
}
.hangman-draw .the-hang::after{
    content: "";
    position: absolute;
    width: 4px;
    height: 30px;
    background-color: #222;
    left: 128px;
    top: 20px;

}
.hangman-draw .the-rope {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 4px dashed #222;
    background-color: white;
    position: absolute;
    left: 98px;
    top: 50px;
    display: none; 
}
.hangman-draw .man .head {
    width: 45px;
    height: 45px;
    position: absolute;
    left: 106px;
    top: 57px;
    border-radius: 50%;
    border: 4px solid#222;
    display: none; 
}
.hangman-draw .man .body {
    width: 4px;
    height: 110px;
    top: 102px;
    left: 127px;
    position: absolute;
    background-color: #222;
    display: none; 
}
.hangman-draw .man .arms{
    display: none; 
}
.hangman-draw .man .arms::after {
    top: 150px;
    left: 85px;
    transform: rotate(30deg);
}
.hangman-draw .man .arms::before {
    top: 148px;
    left: 127px;
    transform: rotate(-30deg);
}
.hangman-draw .man .arms::before ,
.hangman-draw .man .arms::after {
    content: "";
    width: 50px;
    height: 4px;
    position: absolute;
    background-color: #222;
}

.hangman-draw .man .legs{
    display: none; 
}

.hangman-draw .man .legs::after {
    top: 220px;
    left: 83px;
    transform: rotate(-30deg);
}
.hangman-draw .man .legs::before {
    top: 221px;
    left: 125px;
    transform: rotate(30deg);
}
.hangman-draw .man .legs::before ,
.hangman-draw .man .legs::after {
    content: "";
    width: 50px;
    height: 4px;
    position: absolute;
    background-color: #222;
}
.letters {
    flex: 1;
    padding: 15px;
    text-align: center;

}
.letters.finished {
    pointer-events: none;
}
.letters .letter-box{
    display: inline-block;
    width: 55px;
    height: 55px;
    background-color: #009688;
    font-size: 24px;
    margin-right: 10px;
    line-height: 55px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFF;
    cursor: pointer;
    margin-bottom: 10px ;

}
.letter-guess {
    margin: 10px auto;
    background-color: #F8F8F8;
    display: flex;
    justify-content: center;
    padding: 20px;
    min-height: 104px;

}
.letter-guess span {
    height: 60px;
    width: 60px;
    line-height: 60px;
    background-color: #FDFDFD;
    border-bottom: 5px solid black;
    font-size: 24px;
    font-weight: bold;
    margin-right:10px ;
    text-align: center;
    transition: 0.3s;
}

.letter-guess span.has-space {
position: relative;
    background-color: none;
    border-bottom: none;

}
.letter-guess span.has-space::before {
    width: 4px;
    height: 60px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.letters .clicked {
    background-color: black;
    opacity: .2;
    pointer-events: none;
}
.PopUp {
    position: fixed;
    background-color: black;
    padding: 100px 20px;
    color: white;
    width: 80%;
    top: 10%;
    left: 10%;
    text-align: center;
    font: size 40px;
    border: 3px solid white;



}
